# Fichiers compilés
*.o
*.so
*.exe
*.dll
*.dylib
test_rsa
test_rsa.exe
main.c

# Répertoires de build
build/
dist/
*.egg-info/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
test_rsa.py
env/
venv/
ENV/
env.bak/
venv.bak/